# Dependencies
node_modules
.pnpm-store

# Build output
dist
*.tsbuildinfo

# Vite
*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Env
.env
.env.*
!.env.example
